#list  p {
  font-family: arial;
  font-size: 18px;
  color: aliceblue;
  background-color: grey ;
}

.u-section-1 {
  min-height: 588px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 176px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 588px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-1 {
  width: 566px;
  height: 384px;
  margin: 58px auto 0 68px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 484px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 485px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 507px;
    height: 344px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 371px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 420px;
    height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 278px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 175px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 217px;
  }
}.u-section-2 {
  min-height: 588px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 176px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 588px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 39px;
}

.u-section-2 .u-image-1 {
  width: 590px;
  height: 369px;
  margin: 86px auto 0 77px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 484px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 485px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 548px;
    height: 342px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 371px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 420px;
    height: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 278px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 175px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 200px;
  }
}